* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Inter";
  font-style: normal;
}
.no--padding {
  padding: 0;
}
.col-3.myCssCol {
}
.col-3.css_col {
  margin-bottom: 30px;
}

.banerMulti {
  width: 100%;
  height: 80vh;
  margin-bottom: 100px;

  .wrapSlide {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    .slide1 {
      animation: slider1 12s linear infinite;
    }
    .slide2 {
      animation: slider2 12s linear infinite;
    }
    .slide3 {
      animation: slider3 12s linear infinite;
    }
    .slide4 {
      animation: slider4 12s linear infinite;
    }

    .slide1,
    .slide2,
    .slide3,
    .slide4 {
      overflow: hidden;
      width: 100%;
      height: 100%;
      .slideText {
        position: absolute;
        left: 10%;
        top: 60%;
        width: 300px;
        background-color: #ccc;
        transform: translateY(-100px);
        opacity: 0;
        animation: textUp 12s linear infinite;
      }
      .anitex1 {
        animation-delay: 0;
      }
      .anitex2 {
        animation-delay: 3s;
      }
      .anitex3 {
        animation-delay: 6s;
      }
      .anitex4 {
        animation-delay: 9s;
      }
      .slideImg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120%;
        height: 120%;
        animation: zoom-out 3s linear infinite;
      }
    }
  }
}

.choiceAndSearch {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  .iconChoice {
    position: relative;
    width: 71px;
    height: 48px;
    background: #f79621;
    border-radius: 24px;
    text-align: center;
    #imgChoice {
      font-size: 48px;
      color: #d4dee5;
    }
    .contentChoice {
      width: 262px;
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0px 15px 50px 5px rgba(89, 156, 255, 0.1);
      border-radius: 8px;
      animation: show 0.4s ease-in-out;
      &.show {
        display: flex;
      }
      span {
        padding: 20px;
        display: block;
        width: 100%;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        border-radius: 8px;
        &:hover {
          background-color: #f79621;
          transition: ease-in 0.5s;
        }
      }
    }
  }
  .searchInfor {
    width: 641px;
    height: 48px;
    margin-left: 100px;
    position: relative;
    input {
      width: 100%;
      color: #d4dee5;
      padding: 12px 26px;
      width: 641px;
      height: 48px;
      border: 2px solid rgba(40, 88, 126, 0.2);
      border-radius: 8px;
    }
    .iconSearch {
      width: 70px;
      height: 48px;
      background: #f79621;
      border-radius: 8px;
      position: absolute;
      right: 0%;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .bx-search {
        font-size: 44px;
        color: #fff;
      }
    }
  }
}
.infor_teacher {
  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #112437;
    text-align: center;
  }
}
.infor_teacher {
  // background-color: red;
  position: relative;
  .infor_teacher_item {
    display: flex;
    flex-direction: column;
    // align-items: center;
    align-items: center;

    background: #ffffff;
    /* shadow */

    box-shadow: 0px 15px 50px 5px rgba(89, 156, 255, 0.1);
    border-radius: 8px;
    height: 282px;
  }
  img.imgOnDeskTop {
    width: 122px;
    height: 122px;
    border-radius: 50%;
  }
  .nameTeacher {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    margin-top: 20px;
    text-align: center;

    color: #112437;
  }
  .majorTeacher {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 32px;

    text-align: center;

    /* gray/600 */

    color: #52525b;
  }

  .inforDetail {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
    flex-direction: column;
    padding: 16px;
    width: 380px;
    background: #ffffff;
    box-shadow: 0px 15px 53px 45px rgba(89, 156, 255, 0.1);
    border-radius: 8px;
    // display: flex;

    h2 {
      margin-top: 30px;
    }
    span {
      display: block;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      /* or 24px */
      margin-top: 8px;
      display: flex;
      align-items: center;

      color: #52525b;
    }
    .position {
      margin-top: 30px;
    }
    .ortherInfor {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      .ortherInfor_item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .num {
          margin-top: 10px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          /* identical to box height, or 133% */
        }
      }
    }
    p {
      margin-top: 20px;
    }
  }
}
.newWriter {
  width: 100%;
  margin-top: 50px;
  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
  }
  .newWriter_item-left {
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }
    .nameNewWriter_item-left {
      width: 100%;
      height: 125px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        155.3deg,
        rgba(189, 188, 188, 0.05) 15.75%,
        rgba(221, 221, 221, 0.0115) 91.41%
      );
      opacity: 0.9;
      backdrop-filter: blur(103.5px);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
        color: #ffffff;
      }
    }
  }
  .newWriter_item-right {
    display: flex;
    flex-direction: column;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    .nameNewWriter_item-right {
      position: absolute;
      width: 100%;
      height: 125px;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        155.3deg,
        rgba(189, 188, 188, 0.05) 15.75%,
        rgba(221, 221, 221, 0.0115) 91.41%
      );
      opacity: 0.9;
      backdrop-filter: blur(103.5px);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        /* or 24px */

        text-align: center;

        color: #ffffff;
      }
    }
  }
}
.arrangeWriter {
  width: 100%;
  margin-top: 26px;
  .arrangeWriter_item {
    height: 100%;
    position: relative;
    img.arrangeWriter_item_img {
      width: 100%;
      height: 100%;
    }
    .arrangeWriter_item_text {
      background: linear-gradient(
        155.3deg,
        rgba(189, 188, 188, 0.05) 15.75%,
        rgba(221, 221, 221, 0.0115) 91.41%
      );
      opacity: 0.9;
      backdrop-filter: blur(103.5px);
      /* Note: backdrop-filter has minimal browser support */

      border-radius: 8px;
      position: absolute;
      width: 100%;
      height: 78px;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      /* or 24px */
      font-family: "Inter";
      font-style: normal;
      text-align: center;
      padding: 0 50px;
      color: #ffffff;
    }
  }
}
.container.stylePosition {
  position: relative;
}
.btnNext {
  background: #f79621;
  border-radius: 4px;
  width: 164px;
  height: 44px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  left: 50%;
  justify-content: center;
  top: 105%;
  transform: translateX(-50%);
  img {
    margin-left: 10px;
    width: 20px;
  }
}
.otherPageMulti {
  width: 100%;
  margin-top: 170px;
  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    /* or 72px */

    text-align: center;

    color: #000000;
    span {
      color: #f79621;
    }
  }
  p {
    width: 548px;
    height: 45px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    color: #9297a0;
  }
}
.arrangeFanPage {
  width: 100%;
  position: relative;
  overflow: hidden;
  .pageItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    // width: 100%;
    height: 263px;
    padding-top: 40px;
    background: #ffffff;
    /* shadow */

    box-shadow: 0px 15px 50px 5px rgba(89, 156, 255, 0.1);
    border-radius: 8px;
    img.avata {
      width: 59.89px;
      height: 53.64px;

      background: url(coding.png);
      transform: rotate(-21.92deg);
    }
    h3 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-align: center;

      color: #000000;
    }
    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      text-align: center;

      color: #838ba3;
    }
    img.vecto {
      width: 43px;
      height: 34px;
      margin-left: 150px;
    }
  }
  img.orange {
    background: #ffefdc;
    -webkit-filter: blur(81.5px);
    filter: blur(81.5px);
    width: 306px;
    height: 351px;
    margin-top: -14px;
    margin-right: -138px;
    float: right;
  }
}
.footer {
  height: 492px;
  // margin-top: 400px;
  width: 100%;
  background: #112437;
  padding-top: 80px;
  span {
    display: block;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
    /* or 156% */

    color: #9297a0;
  }
  .footerItem {
    img {
      width: 166px;
      height: 45px;
    }
    .arrganeSocial {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 20px;
      .bx {
        width: 40.25px;
        height: 40px;
        border: 1px solid #f79621;
        border-radius: 50%;
        margin-left: 15px;

        color: #f79621;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        &:first-child {
          margin: 0;
        }
        &:hover {
          background-color: #f79621;
          color: #fff;
          transition: ease-in 0.4s;
          cursor: pointer;
        }
      }
    }
    h2 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      /* identical to box height, or 117% */

      color: #fdfdfd;
    }
  }
}
