* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Inter";
  font-style: normal;
}

.no--padding {
  padding: 0;
}

.col-3.css_col {
  margin-bottom: 30px;
}

.banerMulti {
  width: 100%;
  height: 80vh;
  margin-bottom: 100px;
}

.banerMulti .wrapSlide {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.banerMulti .wrapSlide .slide1 {
  -webkit-animation: slider1 12s linear infinite;
          animation: slider1 12s linear infinite;
}

.banerMulti .wrapSlide .slide2 {
  -webkit-animation: slider2 12s linear infinite;
          animation: slider2 12s linear infinite;
}

.banerMulti .wrapSlide .slide3 {
  -webkit-animation: slider3 12s linear infinite;
          animation: slider3 12s linear infinite;
}

.banerMulti .wrapSlide .slide4 {
  -webkit-animation: slider4 12s linear infinite;
          animation: slider4 12s linear infinite;
}

.banerMulti .wrapSlide .slide1,
.banerMulti .wrapSlide .slide2,
.banerMulti .wrapSlide .slide3,
.banerMulti .wrapSlide .slide4 {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.banerMulti .wrapSlide .slide1 .slideText,
.banerMulti .wrapSlide .slide2 .slideText,
.banerMulti .wrapSlide .slide3 .slideText,
.banerMulti .wrapSlide .slide4 .slideText {
  position: absolute;
  left: 10%;
  top: 60%;
  width: 300px;
  background-color: #ccc;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
  -webkit-animation: textUp 12s linear infinite;
          animation: textUp 12s linear infinite;
}

.banerMulti .wrapSlide .slide1 .anitex1,
.banerMulti .wrapSlide .slide2 .anitex1,
.banerMulti .wrapSlide .slide3 .anitex1,
.banerMulti .wrapSlide .slide4 .anitex1 {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.banerMulti .wrapSlide .slide1 .anitex2,
.banerMulti .wrapSlide .slide2 .anitex2,
.banerMulti .wrapSlide .slide3 .anitex2,
.banerMulti .wrapSlide .slide4 .anitex2 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.banerMulti .wrapSlide .slide1 .anitex3,
.banerMulti .wrapSlide .slide2 .anitex3,
.banerMulti .wrapSlide .slide3 .anitex3,
.banerMulti .wrapSlide .slide4 .anitex3 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.banerMulti .wrapSlide .slide1 .anitex4,
.banerMulti .wrapSlide .slide2 .anitex4,
.banerMulti .wrapSlide .slide3 .anitex4,
.banerMulti .wrapSlide .slide4 .anitex4 {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.banerMulti .wrapSlide .slide1 .slideImg,
.banerMulti .wrapSlide .slide2 .slideImg,
.banerMulti .wrapSlide .slide3 .slideImg,
.banerMulti .wrapSlide .slide4 .slideImg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  -webkit-animation: zoom-out 3s linear infinite;
          animation: zoom-out 3s linear infinite;
}

.aniTextMulti {
  width: 100%;
  height: 200px;
  margin: 50px 0;
  background: #247fad;
  text-align: center;
}

.aniTextMulti h1 {
  font-size: 190px;
  line-height: 160px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(./img/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  -webkit-animation: backgroundText infinite linear 20s;
          animation: backgroundText infinite linear 20s;
}

.choiceAndSearch {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.choiceAndSearch .iconChoice {
  cursor: pointer;
  position: relative;
  width: 71px;
  height: 48px;
  background: #f79621;
  border-radius: 24px;
  text-align: center;
}

.choiceAndSearch .iconChoice #imgChoice {
  font-size: 48px;
  color: #fff;
}

.choiceAndSearch .iconChoice .contentChoice {
  width: 262px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #ffffff;
  z-index: 2;
  -webkit-box-shadow: 0px 15px 50px 5px rgba(89, 156, 255, 0.1);
          box-shadow: 0px 15px 50px 5px rgba(89, 156, 255, 0.1);
  border-radius: 8px;
  -webkit-animation: show 0.4s ease-in-out;
          animation: show 0.4s ease-in-out;
}

.choiceAndSearch .iconChoice .contentChoice.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choiceAndSearch .iconChoice .contentChoice span {
  padding: 20px;
  display: block;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border-radius: 8px;
}

.choiceAndSearch .iconChoice .contentChoice span:hover {
  background-color: #f79621;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

.choiceAndSearch .searchInfor {
  width: 641px;
  height: 48px;
  margin-left: 100px;
  position: relative;
}

.choiceAndSearch .searchInfor input {
  width: 100%;
  color: #d4dee5;
  padding: 12px 26px;
  width: 641px;
  height: 48px;
  border: 2px solid rgba(40, 88, 126, 0.2);
  border-radius: 8px;
}

.choiceAndSearch .searchInfor .iconSearch {
  width: 70px;
  height: 48px;
  background: #f79621;
  border-radius: 8px;
  position: absolute;
  right: 0%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choiceAndSearch .searchInfor .iconSearch .bx-search {
  font-size: 44px;
  color: #fff;
}

.infor_teacher h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  color: #112437;
  text-align: center;
}

.infor_teacher {
  position: relative;
}

.infor_teacher .infor_teacher_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  /* shadow */
  -webkit-box-shadow: 0px 15px 50px 5px rgba(89, 156, 255, 0.1);
          box-shadow: 0px 15px 50px 5px rgba(89, 156, 255, 0.1);
  border-radius: 8px;
  height: 282px;
}

.infor_teacher img.imgOnDeskTop {
  width: 122px;
  height: 122px;
  border-radius: 50%;
}

.infor_teacher img.imgOnDeskTop:hover {
  cursor: pointer;
  -webkit-animation: hoverImgTeacher 0.5s ease-in-out forwards;
          animation: hoverImgTeacher 0.5s ease-in-out forwards;
  border-radius: 8px;
}

.infor_teacher img.imgOnDeskTop:hover ~ .nameTeacher {
  display: none;
}

.infor_teacher img.imgOnDeskTop:hover ~ .majorTeacher {
  display: none;
}

.infor_teacher .nameTeacher {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  margin-top: 20px;
  text-align: center;
  color: #112437;
}

.infor_teacher .majorTeacher {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-top: 32px;
  text-align: center;
  /* gray/600 */
  color: #52525b;
}

.infor_teacher .inforDetail {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -72%);
          transform: translate(-50%, -72%);
  display: none;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  width: 380px;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 53px 45px rgba(89, 156, 255, 0.1);
          box-shadow: 0px 15px 53px 45px rgba(89, 156, 255, 0.1);
  border-radius: 8px;
}

.infor_teacher .inforDetail .btnCloseInforDetail {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.infor_teacher .inforDetail .btnCloseInforDetail .bx {
  position: absolute;
  top: 0;
  right: -58px;
  font-size: 50px;
  color: #f79621;
  cursor: pointer;
}

.infor_teacher .inforDetail .btnCloseInforDetail .bx:hover {
  color: red;
  -webkit-animation: close infinite 0.2s ease-in;
          animation: close infinite 0.2s ease-in;
}

.infor_teacher .inforDetail h2 {
  margin-top: 30px;
}

.infor_teacher .inforDetail span {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #52525b;
}

.infor_teacher .inforDetail .position {
  margin-top: 30px;
}

.infor_teacher .inforDetail .ortherInfor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.infor_teacher .inforDetail .ortherInfor .ortherInfor_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.infor_teacher .inforDetail .ortherInfor .ortherInfor_item .num {
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
}

.infor_teacher .inforDetail p {
  margin-top: 20px;
}

.newWriter {
  width: 100%;
  margin-top: 50px;
}

.newWriter h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}

.newWriter .newWriter_item-left {
  position: relative;
}

.newWriter .newWriter_item-left img {
  width: 100%;
  height: 100%;
}

.newWriter .newWriter_item-left .nameNewWriter_item-left {
  width: 100%;
  height: 125px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(155.3deg, rgba(189, 188, 188, 0.05) 15.75%, rgba(221, 221, 221, 0.0115) 91.41%);
  opacity: 0.9;
  -webkit-backdrop-filter: blur(103.5px);
          backdrop-filter: blur(103.5px);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newWriter .newWriter_item-left .nameNewWriter_item-left p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

.newWriter .newWriter_item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.newWriter .newWriter_item-right img {
  width: 100%;
  height: 100%;
}

.newWriter .newWriter_item-right .nameNewWriter_item-right {
  position: absolute;
  width: 100%;
  height: 125px;
  bottom: 0;
  left: 0;
  background: linear-gradient(155.3deg, rgba(189, 188, 188, 0.05) 15.75%, rgba(221, 221, 221, 0.0115) 91.41%);
  opacity: 0.9;
  -webkit-backdrop-filter: blur(103.5px);
          backdrop-filter: blur(103.5px);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newWriter .newWriter_item-right .nameNewWriter_item-right p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  text-align: center;
  color: #ffffff;
}

.arrangeWriter {
  width: 100%;
  margin-top: 26px;
}

.arrangeWriter .arrangeWriter_item {
  height: 100%;
  position: relative;
}

.arrangeWriter .arrangeWriter_item img.arrangeWriter_item_img {
  width: 100%;
  height: 100%;
}

.arrangeWriter .arrangeWriter_item .arrangeWriter_item_text {
  background: linear-gradient(155.3deg, rgba(189, 188, 188, 0.05) 15.75%, rgba(221, 221, 221, 0.0115) 91.41%);
  opacity: 0.9;
  -webkit-backdrop-filter: blur(103.5px);
          backdrop-filter: blur(103.5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px;
  position: absolute;
  width: 100%;
  height: 78px;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  font-family: "Inter";
  font-style: normal;
  text-align: center;
  padding: 0 50px;
  color: #ffffff;
}

.container.stylePosition {
  position: relative;
}

.btnNext {
  background: #f79621;
  border-radius: 4px;
  width: 164px;
  height: 44px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  left: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 105%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.btnNext img {
  margin-left: 10px;
  width: 20px;
}

.otherPageMulti {
  width: 100%;
  margin-top: 170px;
}

.otherPageMulti h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  /* or 72px */
  text-align: center;
  color: #000000;
}

.otherPageMulti h1 span {
  color: #f79621;
}

.otherPageMulti p {
  width: 548px;
  height: 45px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  text-align: center;
  color: #9297a0;
}

.arrangeFanPage {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.arrangeFanPage .pageItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 263px;
  padding-top: 40px;
  background: #ffffff;
  /* shadow */
  -webkit-box-shadow: 0px 15px 50px 5px rgba(89, 156, 255, 0.1);
          box-shadow: 0px 15px 50px 5px rgba(89, 156, 255, 0.1);
  border-radius: 8px;
}

.arrangeFanPage .pageItem img.avata {
  width: 59.89px;
  height: 53.64px;
  background: url(coding.png);
  -webkit-transform: rotate(-21.92deg);
          transform: rotate(-21.92deg);
}

.arrangeFanPage .pageItem h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.arrangeFanPage .pageItem p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #838ba3;
}

.arrangeFanPage .pageItem img.vecto {
  width: 43px;
  height: 34px;
  margin-left: 150px;
}

.arrangeFanPage img.orange {
  background: #ffefdc;
  -webkit-filter: blur(81.5px);
  filter: blur(81.5px);
  width: 306px;
  height: 351px;
  margin-top: -14px;
  margin-right: -138px;
  float: right;
}

.footer {
  height: 492px;
  width: 100%;
  background: #112437;
  padding-top: 80px;
}

.footer span {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-top: 20px;
  /* or 156% */
  color: #9297a0;
}

.footer .footerItem img {
  width: 166px;
  height: 45px;
}

.footer .footerItem .arrganeSocial {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.footer .footerItem .arrganeSocial .bx {
  width: 40.25px;
  height: 40px;
  border: 1px solid #f79621;
  border-radius: 50%;
  margin-left: 15px;
  color: #f79621;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
}

.footer .footerItem .arrganeSocial .bx:first-child {
  margin: 0;
}

.footer .footerItem .arrganeSocial .bx:hover {
  background-color: #f79621;
  color: #fff;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
  cursor: pointer;
}

.footer .footerItem h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  color: #fdfdfd;
}
/*# sourceMappingURL=style.css.map */