* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
.no--padding {
  padding: 0;
}
.col-3.myCssCol {
}
.banerMulti {
  width: 100%;
  height: 80vh;
  margin-bottom: 100px;

  .wrapSlide {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    .slide1 {
      animation: slider1 12s linear infinite;
    }
    .slide2 {
      animation: slider2 12s linear infinite;
    }
    .slide3 {
      animation: slider3 12s linear infinite;
    }
    .slide4 {
      animation: slider4 12s linear infinite;
    }

    .slide1,
    .slide2,
    .slide3,
    .slide4 {
      overflow: hidden;
      width: 100%;
      height: 100%;
      .slideText {
        position: absolute;
        left: 10%;
        top: 60%;
        width: 300px;
        background-color: #ccc;
        transform: translateY(-100px);
        opacity: 0;
        animation: textUp 12s linear infinite;
      }
      .anitex1 {
        animation-delay: 0;
      }
      .anitex2 {
        animation-delay: 3s;
      }
      .anitex3 {
        animation-delay: 6s;
      }
      .anitex4 {
        animation-delay: 9s;
      }
      .slideImg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120%;
        height: 120%;
        animation: zoom-out 3s linear infinite;
      }
    }
  }
}

.choiceAndSearch {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  .iconChoice {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: yellow;
    .contentChoice {
      width: 262px;
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0px 15px 50px 5px rgba(89, 156, 255, 0.1);
      border-radius: 8px;
      animation: show 0.4s ease-in-out;
      &.show {
        display: flex;
      }
      span {
        padding: 20px;
        display: block;
        width: 100%;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        border-radius: 8px;
        &:hover {
          background-color: #f79621;
          transition: ease-in 0.5s;
        }
      }
    }
  }
  .searchInfor {
    width: 641px;
    height: 48px;
    margin-left: 100px;
    position: relative;
    input {
      width: 100%;
      color: #d4dee5;
      padding: 12px 26px;
      width: 641px;
      height: 48px;
      border: 2px solid rgba(40, 88, 126, 0.2);
      border-radius: 8px;
    }
    .iconSearch {
      width: 70px;
      height: 48px;
      background: #f79621;
      border-radius: 8px;
      position: absolute;
      right: 0%;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .bx-search {
        font-size: 20px;
        color: #fff;
      }
    }
  }
}
.infor_teacher {
  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #112437;
    text-align: center;
  }
}
.infor_teacher {
  // background-color: red;
  position: relative;
  .infor_teacher_item {
    display: flex;
    flex-direction: column;
    // align-items: center;
    align-items: center;

    background: #ffffff;
    /* shadow */

    box-shadow: 0px 15px 50px 5px rgba(89, 156, 255, 0.1);
    border-radius: 8px;
    height: 282px;
  }
  img.imgOnDeskTop {
    width: 122px;
    height: 122px;
    border-radius: 50%;
  }
  .nameTeacher {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    margin-top: 20px;
    text-align: center;

    color: #112437;
  }
  .majorTeacher {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 32px;

    text-align: center;

    /* gray/600 */

    color: #52525b;
  }
  .wrapDetail {
    background-color: rgba(89, 156, 255, 0.1);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  .inforDetail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    flex-direction: column;
    padding: 16px;
    width: 380px;
    background: #ffffff;
    box-shadow: 0px 15px 53px 45px rgba(89, 156, 255, 0.1);
    border-radius: 8px;
    display: flex;

    h2 {
      margin-top: 30px;
    }
    span {
      display: block;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      /* or 24px */
      margin-top: 8px;
      display: flex;
      align-items: center;

      color: #52525b;
    }
    .position {
      margin-top: 30px;
    }
    .ortherInfor {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      .ortherInfor_item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .num {
          margin-top: 10px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          /* identical to box height, or 133% */
        }
      }
    }
    p {
      margin-top: 20px;
    }
  }
}
