* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
.no--padding {
  padding: 0;
}
.banerMulti {
  width: 100%;
  height: 80vh;
  margin-bottom: 100px;

  .wrapSlide {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    .slide1 {
      animation: slider1 12s linear infinite;
    }
    .slide2 {
      animation: slider2 12s linear infinite;
    }
    .slide3 {
      animation: slider3 12s linear infinite;
    }
    .slide4 {
      animation: slider4 12s linear infinite;
    }

    .slide1,
    .slide2,
    .slide3,
    .slide4 {
      overflow: hidden;
      width: 100%;
      height: 100%;
      .slideText {
        position: absolute;
        left: 10%;
        top: 60%;
        width: 300px;
        background-color: #ccc;
        transform: translateY(-100px);
        opacity: 0;
        animation: textUp 12s linear infinite;
      }
      .anitex1 {
        animation-delay: 0;
      }
      .anitex2 {
        animation-delay: 3s;
      }
      .anitex3 {
        animation-delay: 6s;
      }
      .anitex4 {
        animation-delay: 9s;
      }
      .slideImg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120%;
        height: 120%;
        animation: zoom-out 3s linear infinite;
      }
    }
  }
}
.wrapContent {
  .infor_specialization {
    height: 100%;

    background-color: red;
    .infor_specialization_title {
      text-align: center;
    }
    .showDetail_infor_specialization {
      width: 100%;
      height: 200px;
      background-color: yellow;
      border-radius: 50%;
      position: relative;
      .showDetail_icon {
        position: absolute;
        top: 0%;
        font-size: 80px;
        left: 50%;
        transform: translateX(-50%);
        animation: movedownIcon 1s infinite ease;
      }
      .showDetail_sughest {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }
    }
    .infor_specialization_list {
      .infor_specialization_item {
        list-style: none;
      }
    }
  }

  .infor_chart {
    height: 100%;
    background-color: green;

    .css_col {
      position: relative;
      &:hover {
        .infor_hover {
          display: block;
        }
      }
      .img_col {
        animation: scale 3s ease;
        position: relative;
        width: 100%;
        border-radius: 20px;
        img {
          width: 100%;
          border-radius: 20px;
        }
        .infor_hover {
          // display: nbne;
          background-color: #ccc;
          color: #000;
          text-align: center;
          position: absolute;
          bottom: 0px;
          left: 0;
          transform: translateX(-505);
          width: 100%;

          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          animation: slide_top 0.3s;
          span {
            display: block;
          }
        }
      }
    }
    .wrap_infor_details {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      width: 100vw;
      height: 100vh;
      display: flex;
      display: none;
      // background-color: rgb(193, 186, 186);
      .infor_details {
        position: relative;
        margin: auto;
        width: 400px;
        height: 400px;
        background-color: rgb(222, 195, 21);
        overflow: hidden;
        .nameUniver {
          display: block;
          font-weight: 900;
          font-size: 40px;
          letter-spacing: 13px;
          position: absolute;
          margin-left: 16px;
          left: 50%;
          transform: translateX(-50%);
          color: red;
          &::before {
            content: "";
            position: absolute;
            border-left: 1px solid red;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(222, 195, 21);
            animation: text_slide 2s steps(4) infinite;
          }
        }
        .infor_list {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          .infor_iteam {
            list-style: none;
          }
        }
        .infor_avatar {
          position: absolute;
          left: 50%;
          top: 50px;
          transform: translateX(-50%);
          border-radius: 50%;
          width: 150px;
          height: 150px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;

            object-fit: cover;
          }
        }
      }
    }
  }
}

.choiceAndSearch {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  margin-bottom: 200px;
  .iconChoice {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: yellow;
    .contentChoice {
      width: 262px;
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0px 15px 50px 5px rgba(89, 156, 255, 0.1);
      border-radius: 8px;
      animation: show 0.4s ease-in-out;
      &.show {
        display: flex;
      }
      span {
        padding: 20px;
        display: block;
        width: 100%;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        border-radius: 8px;
        &:hover {
          background-color: #f79621;
          transition: ease-in 0.5s;
        }
      }
    }
  }
  .searchInfor {
    width: 641px;
    height: 48px;
    position: relative;
    input {
      width: 100%;
      color: #d4dee5;
      padding: 12px 26px;
      width: 641px;
      height: 48px;
      border: 2px solid rgba(40, 88, 126, 0.2);
      border-radius: 8px;
    }
    .iconSearch {
      width: 70px;
      height: 48px;
      background: #f79621;
      border-radius: 8px;
      position: absolute;
      right: 0%;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .bx-search {
        font-size: 20px;
        color: #fff;
      }
    }
  }
}
