* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

.no--padding {
  padding: 0;
}

.banerMulti {
  width: 100%;
  height: 80vh;
  margin-bottom: 100px;
}

.banerMulti .wrapSlide {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.banerMulti .wrapSlide .slide1 {
  -webkit-animation: slider1 12s linear infinite;
          animation: slider1 12s linear infinite;
}

.banerMulti .wrapSlide .slide2 {
  -webkit-animation: slider2 12s linear infinite;
          animation: slider2 12s linear infinite;
}

.banerMulti .wrapSlide .slide3 {
  -webkit-animation: slider3 12s linear infinite;
          animation: slider3 12s linear infinite;
}

.banerMulti .wrapSlide .slide4 {
  -webkit-animation: slider4 12s linear infinite;
          animation: slider4 12s linear infinite;
}

.banerMulti .wrapSlide .slide1,
.banerMulti .wrapSlide .slide2,
.banerMulti .wrapSlide .slide3,
.banerMulti .wrapSlide .slide4 {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.banerMulti .wrapSlide .slide1 .slideText,
.banerMulti .wrapSlide .slide2 .slideText,
.banerMulti .wrapSlide .slide3 .slideText,
.banerMulti .wrapSlide .slide4 .slideText {
  position: absolute;
  left: 10%;
  top: 60%;
  width: 300px;
  background-color: #ccc;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
  -webkit-animation: textUp 12s linear infinite;
          animation: textUp 12s linear infinite;
}

.banerMulti .wrapSlide .slide1 .anitex1,
.banerMulti .wrapSlide .slide2 .anitex1,
.banerMulti .wrapSlide .slide3 .anitex1,
.banerMulti .wrapSlide .slide4 .anitex1 {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.banerMulti .wrapSlide .slide1 .anitex2,
.banerMulti .wrapSlide .slide2 .anitex2,
.banerMulti .wrapSlide .slide3 .anitex2,
.banerMulti .wrapSlide .slide4 .anitex2 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.banerMulti .wrapSlide .slide1 .anitex3,
.banerMulti .wrapSlide .slide2 .anitex3,
.banerMulti .wrapSlide .slide3 .anitex3,
.banerMulti .wrapSlide .slide4 .anitex3 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.banerMulti .wrapSlide .slide1 .anitex4,
.banerMulti .wrapSlide .slide2 .anitex4,
.banerMulti .wrapSlide .slide3 .anitex4,
.banerMulti .wrapSlide .slide4 .anitex4 {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.banerMulti .wrapSlide .slide1 .slideImg,
.banerMulti .wrapSlide .slide2 .slideImg,
.banerMulti .wrapSlide .slide3 .slideImg,
.banerMulti .wrapSlide .slide4 .slideImg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  -webkit-animation: zoom-out 3s linear infinite;
          animation: zoom-out 3s linear infinite;
}

.choiceAndSearch {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.choiceAndSearch .iconChoice {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: yellow;
}

.choiceAndSearch .iconChoice .contentChoice {
  width: 262px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0px 15px 50px 5px rgba(89, 156, 255, 0.1);
          box-shadow: 0px 15px 50px 5px rgba(89, 156, 255, 0.1);
  border-radius: 8px;
  -webkit-animation: show 0.4s ease-in-out;
          animation: show 0.4s ease-in-out;
}

.choiceAndSearch .iconChoice .contentChoice.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choiceAndSearch .iconChoice .contentChoice span {
  padding: 20px;
  display: block;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border-radius: 8px;
}

.choiceAndSearch .iconChoice .contentChoice span:hover {
  background-color: #f79621;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

.choiceAndSearch .searchInfor {
  width: 641px;
  height: 48px;
  margin-left: 100px;
  position: relative;
}

.choiceAndSearch .searchInfor input {
  width: 100%;
  color: #d4dee5;
  padding: 12px 26px;
  width: 641px;
  height: 48px;
  border: 2px solid rgba(40, 88, 126, 0.2);
  border-radius: 8px;
}

.choiceAndSearch .searchInfor .iconSearch {
  width: 70px;
  height: 48px;
  background: #f79621;
  border-radius: 8px;
  position: absolute;
  right: 0%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choiceAndSearch .searchInfor .iconSearch .bx-search {
  font-size: 20px;
  color: #fff;
}

.infor_teacher h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  color: #112437;
  text-align: center;
}

.infor_teacher {
  position: relative;
}

.infor_teacher .infor_teacher_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  /* shadow */
  -webkit-box-shadow: 0px 15px 50px 5px rgba(89, 156, 255, 0.1);
          box-shadow: 0px 15px 50px 5px rgba(89, 156, 255, 0.1);
  border-radius: 8px;
  height: 282px;
}

.infor_teacher img.imgOnDeskTop {
  width: 122px;
  height: 122px;
  border-radius: 50%;
}

.infor_teacher .nameTeacher {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  margin-top: 20px;
  text-align: center;
  color: #112437;
}

.infor_teacher .majorTeacher {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-top: 32px;
  text-align: center;
  /* gray/600 */
  color: #52525b;
}

.infor_teacher .wrapDetail {
  background-color: rgba(89, 156, 255, 0.1);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.infor_teacher .inforDetail {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  width: 380px;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 53px 45px rgba(89, 156, 255, 0.1);
          box-shadow: 0px 15px 53px 45px rgba(89, 156, 255, 0.1);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infor_teacher .inforDetail h2 {
  margin-top: 30px;
}

.infor_teacher .inforDetail span {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #52525b;
}

.infor_teacher .inforDetail .position {
  margin-top: 30px;
}

.infor_teacher .inforDetail .ortherInfor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.infor_teacher .inforDetail .ortherInfor .ortherInfor_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.infor_teacher .inforDetail .ortherInfor .ortherInfor_item .num {
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
}

.infor_teacher .inforDetail p {
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */