<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1></h1>
    {% for i in Posts %}
    <h4>
      QUan {{i.date|date:"d-m-Y"}}<a href="/blog/{{i.id}}">{{i.title}} QUAN</a>
    </h4>
    {% endfor %}
    <form method="post">
      {% csrf_token %}
      <input name="title" type="text" />
      <button type="submit">OK</button>
    </form>
  </body>
</html>
